/* Estilos generales */

body{
    background-color: blueviolet;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    font-weight: bold;
    font-style: normal;

    justify-content: center;
    align-items: center;
    height: 100vh; 
} 

/* Estilos del header */

h1{
    font-family: 'Courier New', Courier, monospace;
    background-color: aquamarine;
    height: 50px;
    font-size: 40px;
    color: black;
    border-bottom: 4px solid gold;
   text-align: center;
    font-weight: bold;
    font-style: normal;
    line-height: 50px;      
}


h1{
    text-align: center;
    margin-top: 50px;
}

#monto{
    margin-top: 20px;
    margin-bottom: 20px;   
}

#btnDepositar{
    margin-top: 50px;
}


/*eslilos de la clase */

.container{
      max-width: 400px;
      padding: 0%;
        margin: auto;
}

.container-login h1{
    text-align: center;
}

.container h3{
    text-align: left;
}

.col-md-6{
   max-width: 400px; 
    margin: auto; 
}
   
.form-floating{
    margin-top: 50px;
}


/* Estilos del id */

#balance{
    max-width: 400px;
    color:black;
    background-color: white;
    height: min-content;
    width: 65%;
    text-align: center;
    margin: auto;
    padding: 10%;
    border-radius: 2%;
    
}

#imagen{
    margin-top: 100px;
    margin-bottom: 50px;
    text-align: center;    
}

#btn-link{
    margin-top: 500px;
    color: white; 
    align-items: flex-end;  
}


/* Estilos del footer */

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: gold;
    text-align: right;
    height: 30px;    
}